// custom SCSS (or CSS) goes here
.side-bar {
    @include mq(lg) {
      width: calc((70% - #{$nav-width + $content-width}) / 2 + #{$nav-width});
    }
  }

 /* Style the tabs */
.tabs {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the tab buttons */
.tablink {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tablink:hover {
  background-color: #ddd;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

/* Show the active tab */
.tabcontent.active {
  display: block;
}